.signup-form {
	display: flex;
	justify-content: center;
	text-align: center;
}

input {
	margin: 5px;
	height: 30px;
	width: 200px;
}
select {
	margin: 5px;
	height: 30px;
	width: 200px;
}


.header-con .title{
	font-size: 30px;
	text-transform: uppercase;
	/* margin-bottom: 5px; */
}
