.signup-form {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 18%;
}

input {
	margin: 5px;
	height: 30px;
	width: 200px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: #3d5d68;
}
