.body {
  margin-bottom: 3em;
  padding: 1em;
  border: solid 1px gray;
}
.form {
  display: grid;
  justify-items: end;
}
.input {
  width: 20%;
}

.days-container {
  display: inline;
  background-color: red;
}

.checkbox {
 float: left;

}
